{% extends "layout.html" %} {% block body %}

<form action="/update/{{clientes.0}}" method="POST">
  <input
    type="text"
    name="nombre"
    placeholder="Nombre"
    value="{{ clientes.1 }}"
    minlength="2"
    maxlength="255"
    required

  />
  <input
    type="tel"
    name="movil"
    placeholder="Movil"
    pattern="^\+?\d{6,13}"
    title="Movil (Format: 3104708898)"
    value="{{ clientes.2 }}"
    required
  />
  <input
    type="number"
    name="saldo"
    placeholder="Saldo"
    value="{{ clientes.3 }}"
    required
  />
  <button type="submit">Guardar</button>
</form>

{% endblock %}
